[package]
name = "ceph_dead_disk"
version = "0.1.0"
authors = ["Chris Holcombe <xfactor973@gmail.com>"]

[workspace]

# [features]
# zmq = ["zmq"]

[dependencies]
api = { path = "api" }
block-utils = {git = "https://github.com/cholcombe973/block-utils"}
ceph-rust = {git = "https://github.com/cholcombe973/ceph-rust"}
ceph-safe-disk = "~0.1"
clap = "*"
client = { path = "client" }
disk-manager = { path = "disk-manager" }
dmi = {git = "https://github.com/cholcombe973/dmi"}
fstab = "*"
gluster = "*"
goji = {git = "https://github.com/cholcombe973/goji"}
helpers = { path = "helpers" }
init-daemon = "*"
json = "*"
libatasmart = "*"
libc = "*"
log = "*"
mktemp = "*"
parallel-deploy = { path = "parallel-deploy" }
protobuf = "*"
reqwest = "*"
rusqlite = "*"
serde = "*"
serde_derive = "*"
serde_json = "*"
simplelog = "*"
time = "*"
uname = "*"
uuid = { version="*", features = ["v4"]}
zmq = {version="~0.8"}
