[Unit]
Description=Dead Disk management daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/dead-disk-detector
ExecReload=/bin/kill -SIGTERM $MAINPID
KillMode=process
Restart=on-failure
LimitNOFILE=infinity
LimitNPROC=infinity
TasksMax=infinity

[Install]
Alias=dead-disk.service
