[Unit]
Description=Bynar Disk Management Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/bynar
ExecReload=/bin/kill -SIGTERM $MAINPID
KillMode=process
Restart=on-failure
LimitNOFILE=infinity
LimitNPROC=infinity
TasksMax=infinity

[Install]
Alias=dead-disk.service
