[Unit]
Description=Disk Management Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/disk-manager
ExecReload=/bin/kill -SIGTERM $MAINPID
KillMode=process
Restart=on-failure
LimitNOFILE=infinity
LimitNPROC=infinity
TasksMax=infinity

[Install]
Alias=disk-manager.service
